run = "go run ."
modules = ["nix", "python-3.11", "go-1.23"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["sh", "-c", "go run ."]
ignorePorts = false
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 41889
externalPort = 3000

